.About-section{
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 13px;
}


.About-content{
    width: 50%;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 7px;
    height: 60vh;
    
    
}



.About-content h1{
    font-size: 3rem;
    border-bottom: 4px solid red;
    margin-bottom: 4px;
    
}

.About-content p{
    margin-top: 12px;
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: 3px;

}

.About-Img-Container{
    width: 50%;
    position: relative;
    height: 60vh;

}

.aboutImg:nth-child(1){
    position: absolute;
    top: 0;
    left: 5px;
    width: 120px;
}

.aboutImg:nth-child(2){
    position: absolute;
    top: 0;
    left: 5px;
    width: 120px;
}

.aboutImg:nth-child(3){
    position: absolute;
    top: 0;
    left: 5px;
    width: 120px;
}

.aboutImg:nth-child(4){
    position: absolute;
    top: 0;
    left: 5px;
    width: 120px;
}

.aboutImg:nth-child(5){
    position: absolute;
    top: 0;
    left: 5px;
    width: 120px;
}
